@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');


.App {
  font-family: 'Quicksand', sans-serif !important;
}

.table{
  text-align: center;
}

.gap-2{
  max-width: 360px;
}